<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/register.css">
    <title>LogIn Form</title>
    
</head>
<body>
    <div class = "container">
 <center>   <h1>LOG IN</h1></center>
 <form action="/Users/login" method="POST">
    <input type="text" placeholder="Enter username" class="modal-body-form" name = "email"style="width: 100%;">
    <input type="password" name="password" id="password" placeholder="Enter password"
        class="modal-body-form" style="width: 100%;">
        <br>
        <br>
 <button type="submit" class="modal-body-form btn btn-primary" style="width: 100%;">
        Sign in
    </button>
</form>
    <a href="">Forget Password</a>
    <br>
    <a href="/Users">Don't have an account?</a>
    </div>
    </form>
    </div>
</body>
</html>