*{
    margin:0;
}
body{
        background-image:url("https://pix10.agoda.net/hotelImages/303/303175/303175_14112019090023510993.jpg?s=1024x768");
        background-size: cover;
        background-repeat:no-repeat;
    }
    .container{
        width: 320px;
        height: 300px;
        background: #fff;
        color: #000;
        top: 50%;
        left: 50%;
        position:absolute;
        transform: translate(-50%,-50%);
        box-sizing: border-box;
        padding:70px 30px;
        border-radius: 10px;
        
    }
    .container h1{
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        font-size: 22px;
    }

    .form-input input{
        width: 100%;
        margin-bottom: 20px;
    }   
    
   .container input[type = "text"],input[type="password"]
   {
       border:none;
       border-bottom: 1px solid #000;
       background: transparent;
       outline:none;
       height: 40px;
       color: #000;
       font-size: 16px;
   }
   .container button[type="submit"]{
       border:none;
       outline:none;
       height:40px;
       background:#fb2525;
       color:#fff;
       font-size:18px;
       border-radius: 20px;
   }
   .container input[type = "submit"]:hover{
       cursor:pointer;
       background:#ffc107;
       color:#000;
   }
   .container a{
       text-decoration:none;
       font-size: 12px;
       line-height: 20px;
       color: darkgrey;
   }